<p>Your shop has received an order on Flea via <%= @shipment.shipping_method.name %>. Please visit <%= edit_admin_order_url(@order) %> to fulfill it.
</p>


<p>
  Thank you from JGu.
</p>

<p>
  This is is an automated email. If you have any questions, contact changeme@flea.boutique.
</p>
