<p>Your shop has received an order on Flea for fulfillment via <%= @shipment.shipping_method.name %>. Please visit <%= edit_admin_order_url(@order) %> to fulfill it.
</p>

<p>
  This is is an automated email. If you have any questions, contact
  <%= mail_to ENV["CONTACT_EMAIL"] %>.
</p>
