$brand-teal: #37fce0;
$black: #222222;

.brand-container {
  $flea-size: 2.15em;
  $secondary-text-size: .55em;
  > .brand-flea {
    font-family: "Raleway Bold",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: $black;
    font-size: $flea-size;
  }
  > .brand-market {
    font-family: "Raleway Bold",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: $brand-teal;
    position: relative;
    font-size: $secondary-text-size;
    top: -1.5em;
    left: 0.6em;
    letter-spacing: 0.2rem;
  }
}

