$brand-teal: #37fce0;

.brand-container {
  $flea-size: 2.15em;
  $secondary-text-size: .55em;
  > .brand-flea {
    font-family: "Raleway Bold",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: black;
    font-size: $flea-size;
  }
  > .brand-locals {
    font-family: "Raleway Bold",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: $brand-teal;
    position: relative;
    font-size: $secondary-text-size;
    top: -1.6em;
    left: 0.2em;
    letter-spacing: 1.2em;
  }
  > .brand-only {
    font-family: "Raleway Bold",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: $brand-teal;
    position: relative;
    transform: rotate(270deg);
    font-size: $secondary-text-size;
    top: -9.25em;
    left: 5.25em;
    letter-spacing: 0.03em;
  }
  > .brand-square {
    height: $secondary-text-size - 0.15em;
    width: $secondary-text-size - 0.15em;
    background-color: $brand-teal;
    position: relative;
    top: -2.33em;
    left: 5.69em;
    border-radius: 0.1rem;
  }
}

@import "bootstrap";

@supports (overflow:-webkit-marquee) and (justify-content:inherit) {
  .brand-container {
    > .brand-only {
      left: 5.26em;
      letter-spacing: 0.08em;
    }
    > .brand-square {
      top: -2.32em;
    }
  }
  @include media-breakpoint-down(sm) {
    .brand-container {
      > .brand-only {
        left: 5.24em !important;
        letter-spacing: 0.065em;
      }
      > .brand-square {
        top: -2.28em;
      }
    }
  }
}
