.carousel-fade {
  .carousel-inner {
    .carousel-item {
      transition: opacity ease-in-out 1s;
    }

    .carousel-item,
    .active.left,
    .active.right {
      opacity: 0.65;
      transition: opacity ease-in-out 1s;
    }

    .active,
    .next.left,
    .prev.right {
      opacity: 1;
      transition: opacity ease-in-out 1s;
    }

    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }
}

$transition-time: 1s;

.carousel-control.right,.carousel-control.left {
  transition: $transition-time;
  background-image: none !important;
  background-repeat: none;
}

.carousel-control.right:hover {
  transition: $transition-time;
  background-image: linear-gradient(to right, rgba(55, 252, 224, 0.0001) 0%, rgba(55, 252, 224, 0.5) 100%) !important;
}

.carousel-control.left:hover {
  transition: $transition-time;
  background-image: linear-gradient(to left, rgba(55, 252, 224, 0.0001) 0%, rgba(55, 252, 224, 0.5) 100%) !important;
}


.carousel-inner {
  border-radius: 0.1rem;
}
