$caption-border-radius: 0.16rem;
$transition-time: 0.25s;
$brand-teal: #37fce0;
$black: #222222;
$grey: #888888;
$box-height-xl: 24rem;
$box-height-lg: 21rem;
$box-height-sm: 12rem;

.product-hero {
  height: $box-height-lg * 2;
  padding-right: 0rem !important;
}

.store-map-widget {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

.store-map-widget--child {
  height: $box-height-lg;
}

.product-hero--child {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

.product-hero--child .flea-card--image {
  height: 85%;
}

.flea-card {
  background-color: white;
  height: $box-height-lg;
  margin: 0.1rem;
  margin-bottom: 0.25rem;
  transition: $transition-time;
  border: 1px solid $grey;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
}

.store-hero .flea-card--caption {
  padding-top: .5rem;
}

.flea-card--price {
  color: $brand-teal;
}

.flea-card:hover {
  transition: $transition-time;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
}

.flea-card--caption {
  padding-top: 1rem;
  border-top: 1px solid $grey;
}

.flea-card--caption {
  font-size: 0.9rem;
}

.flea-card--image {
  height: 75%;
}

.store-map-widget > .slick-slider {
  margin-bottom: 0px;
}

.store-map {
  margin-top: 0.3rem;
}

.flea-card--caption__left,.flea-card--caption__right {
  color: $black;
  display: inline-block;
}

.flea-card--caption__left > p,.flea-card--caption__right > p {
  margin-bottom: 0rem;
}

.store-hero .flea-card--caption__left {
  width: 40%;
}

.store-hero .flea-card--caption__right {
  width: 60%;
}

.flea-card--caption__right {
  padding-right: 1rem;
}
.flea-card--caption__left {
  padding-left: 1rem;
}

.product-hero--child .flea-card--caption__left {
  width: 80%;
}

.product-hero--child .flea-card--caption__right {
  width: 20%;
}

@import "bootstrap";

@include media-breakpoint-up(xl) {
  .flea-card {
    height: $box-height-xl;
  }
  .product-hero {
    height: $box-height-xl * 2;
  }
  .store-map-widget--child {
    height: $box-height-xl;
  }
}

@include media-breakpoint-down(lg) {
  .product-hero {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
  .store-hero .flea-card--caption {
    padding-top: 0rem !important;
  }
}

@include media-breakpoint-up(md) {
}
@include media-breakpoint-down(sm) {
  .flea-card {
    height: $box-height-sm;
  }
  .product-hero {
    height: $box-height-sm * 2;
  }
  .store-map-widget--child {
    height: $box-height-sm;
  }
  .flea-card--caption__right {
    padding-right: 0.25rem;
  }
  .flea-card--caption__left {
    padding-left: 0.25rem;
  }
  .flea-card--caption {
    font-size: 0.55rem;
    padding-top: 0.5rem !important;
  }
  .store-hero .flea-card--caption {
    padding-top: 0.25rem;
  }
}
