.product-hero {
  height: 80vh;
}

.store-map-widget {
  padding-left: 0.65rem !important;
  padding-right: 0rem !important;
}

.store-map-widget--child {
  height: 40vh;
}

.product-hero--child {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

/*it depends*/
.index-store-carousel-image {
  height: 40vh;
}

.index-product-carousel-image {
  height: 40vh;
}

@import "bootstrap";

@include media-breakpoint-down(md) {
  .store-map-widget {
    margin-top: 4vh;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
}

@include media-breakpoint-down(sm) {
  .store-map-widget--child {
    height: 50vh;
  }
  .product-hero {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
