.store-hero {
  background-color: lightgreen;
  height: 80vh;
}

.product-map-widget {
  background-color: lightgreen;
  padding-right: 0rem !important;
}

.product-map-widget--child {
  height: 40vh;
}

.store-map {
  background-color: rebeccapurple;
}

.index-store-carousel-image {
  height: 80vh;
}

.index-product-carousel-image {
  height: 40vh;
}

@import "bootstrap";

@include media-breakpoint-down(md) {
  .product-map-widget {
    margin-top: 5vh;
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

@include media-breakpoint-down(sm) {
  .product-map-widget {
    margin-top: 5vh;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .product-map-widget--child {
    height: 60vh;
  }
  .store-hero {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
