$brand-teal: #37fce0;

.nav-search-form {
  width: 65%;
  margin-left: 8%;
  padding-top: 1.5rem;
  > .search-field {
    border: 2px solid black;
    border-radius: 0rem;
    outline: none !important;
    width: 75% !important;
  }
  > .search-field:focus {
    border: 2px solid black;
  }
  > .btn {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: black !important;
}

.navbar-light .navbar-nav .nav-link.full {
  color: $brand-teal !important;
}

.user-links {
  padding-top: 1.5rem
}

.brand-container {
  height: 5rem;
}

@import "bootstrap";

@include media-breakpoint-down(lg) {
  /*body {*/
    /*background-color: pink;*/
  /*}*/
  .nav-search-form {
    width: 60%;
  }
}

@include media-breakpoint-down(md) {
  /*body {*/
    /*background-color: red;*/
  /*}*/
  .nav-search-form {
    width: 55%;
    margin-left: 1rem;
    padding-top: 1.5rem;
    > .search-field {
      width: 70% !important;
    }
    > .btn {
      padding-right: 2rem;
      padding-left: 2rem;
    }
    .user-links {
      padding-top: 1.5rem
    }
  }
}
@include media-breakpoint-down(sm) {
  /*body {*/
    /*background-color: lawngreen !important;*/
  /*}*/
  .nav-search-form {
    width: 100%;
    margin-left: 0rem !important;
    padding-top: 0rem !important;
    > .search-field {
      width: 100% !important;
    }
    > .btn {
      width: 100%;
      margin-top: 0.25rem;
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }
  .user-links {
    float: none;
    position: absolute;
    right: 1rem;
    padding-top: 1.5rem
  }
}

