.tmb-all,.vtmb {
  display: inline;
}

.product-section-title {
  display: none;
}

.ui-corner-all {
  border: none;
}

#product-properties td {
  padding-right: 0.8rem;
}

.ui-spinner.ui-widget.ui-widget-content.ui-corner-all {
  width: 3.5rem;
  > .flea-field {
    width: 2rem;
    margin-left: 0px;
    text-align: center;
  }
}

.price.selling {
  font-size: 1.5rem;
  font-weight: bold;
}

.flea-cart-arrow:hover,.flea-cart-arrow:focus  {
  cursor: pointer;
  color: black !important;
}

.property-widget-margin-top {
  margin-top: 1rem;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select {padding-right:18px}
}

select,select:focus {
  appearance: none;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid black;
  border-left: none;
  outline: none;
  cursor: pointer;
}

.select-label {
  position:relative
}

.select-label:after {
  content:"\f063";
  font-family: "FontAwesome";
  font-size: 11px;
  color: black;
  right:8px;
  top:8px;
  padding:0 0 2px;
  position:absolute;
  pointer-events:none;
  right: -1rem;
  top: 1.25rem;
}

.select-label:before {
  content:'';
  right:4px; top:0px;
  width:23px; height:18px;
  background:#fff;
  position:absolute;
  pointer-events:none;
  display:block;
}

#thumbnails > ul {
  text-align: center;
  padding-left: 0rem;
}

.product-description-sm {
  display: none;
  padding-left: 0%;
  padding-right: 0%;
  text-align: justify;
}

.product-description-md {
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
}

@import "bootstrap";

@include media-breakpoint-down(sm) {
  .product-title {
    text-align: center;
  }

  .product-description-md {
    display: none;
  }

  .product-description-sm {
    display: block;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
