$brand-teal: #37fce0;
$transition-time: 0.25s;

html {
  overflow-y:scroll;
}

div {
  font-family: "Raleway Regular",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 2px;
}

@import "bootstrap";

@include media-breakpoint-up(lg) {
  .container {
    max-width: 1440px !important;
  }
}

.fa {
  font-size: 1.5em;
}

$btn-border-radius: 0.08rem;
.btn {
  border: 2px solid transparent !important;
  user-select: none !important;
  border-radius: $btn-border-radius !important;
}

.btn-success-outline  {
  color: black !important;
  border-color: $brand-teal !important;
  transition: $transition-time;
}

.btn-success-outline:hover, .btn-success-outline:focus  {
  background-color: $brand-teal !important;
  transition: $transition-time;
  outline: none !important;
}

.flea-field {
  background-color: transparent !important;
  border-width: 0px 0px 2px !important;
  border-style: none none solid !important;
  border-radius: 0rem !important;
  border-color: black !important;
  outline: none !important;
  transition: 2s !important;
}

#wrapper {
  margin-top: 6rem;
  transition: 0.5s;
}

.long-wrapper {
  margin-top: 11rem !important;
  transition: 0.5s;
}

.footer-bottom {
  height: 3rem;
}

.background-image {
  padding: 0px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@include media-breakpoint-down(lg) {
  body {
    background-color: pink !important;
  }
}
@include media-breakpoint-down(md) {
  body {
    background-color: red !important;
  }
}
@include media-breakpoint-down(sm) {
  body {
    background-color: lawngreen !important;
  }
}

/*#content {*/
  /*background-color: lightpink;*/
/*}*/

/*#wrapper {*/
  /*background-color: indigo;*/
/*}*/

/*.container {*/
  /*background-color: lavenderblush;*/
/*}*/

/*.store-hero {*/
  /*background-color: lightgreen;*/
/*}*/

/*.product-map-widget {*/
  /*background-color: lightgreen;*/
/*}*/

/*.store-map {*/
  /*background-color: rebeccapurple;*/
/*}*/
