$brand-teal: #37fce0;
$transition-time: 0.25s;

html {
  overflow-y:scroll;
}

div {
  font-family: "Raleway Regular",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 2px;
}

.fa {
  font-size: 1.5em;
}

.btn {
  border: 2px solid transparent !important;
  border-radius: 0rem !important;
}

.btn-success-outline  {
  color: black !important;
  border-color: $brand-teal !important;
  transition: $transition-time;
}

.btn-success-outline:hover, .btn-success-outline:focus  {
  background-color: $brand-teal !important;
  transition: $transition-time;
  outline: none !important;
}

.flea-field {
  background-color: transparent !important;
  border-width: 0px 0px 2px !important;
  border-style: none none solid !important;
  border-radius: 0rem !important;
  border-color: black !important;
  outline: none !important;
  transition: 2s !important;
}

#content {
  background-color: lightpink;
}

#wrapper {
  margin-top: 6rem;
  background-color: indigo;
}

.container {
  background-color: lavenderblush;
}

.background-image {
  padding: 0px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
