$brand-teal: #37fce0;
$brand-teal-dark: #03e1c2;
$transition-time: 0.25s;
$light-beige: #EFEFEB;
$light-grey: #F9F9F7;
$grey: #888888;
$black: #222222;
$blue: #0192B5;
$btn-border-radius: 0.08rem;
$red: #fc3753;
$red-dark: #e10323;

html {
  overflow-y:scroll;
}

body {
  background-color: $light-grey !important;
}

div {
  font-family: "Raleway Regular",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 0px;
}

.fa {
  font-size: 1.5em;
}

.flea-wrap {
  padding: 1rem;
  background-color: white !important;
  border: 1px solid $grey;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
}

.btn {
  border: 2px solid transparent !important;
  user-select: none !important;
  border-radius: $btn-border-radius !important;
}

.btn-success-outline {
  color: $black !important;
  border-color: $brand-teal !important;
  transition: $transition-time;
}

.btn-danger-outline {
  color: $red !important;
  border-color: $red !important;
  transition: $transition-time;
}

.btn-danger-outline:hover, .btn-danger-outline:focus, .btn-danger-outline:active {
  color: white !important;
  background-color: $red !important;
  transition: $transition-time;
  outline: none !important;
}

.btn-success-outline:hover, .btn-success-outline:focus, .btn-success-outline:active {
  background-color: $brand-teal !important;
  transition: $transition-time;
  outline: none !important;
}

.btn-success-outline:hover:disabled {
  background-color: transparent !important;
  outline: none !important;
}

.btn-disabled:disabled:hover {
  background-color: transparent-teal !important;
  outline: none !important;
}

.flea-field {
  background-color: transparent !important;
  border-width: 0px 0px 2px !important;
  border-style: none none solid !important;
  border-radius: 0rem !important;
  border-color: $black !important;
  outline: none !important;
  transition: 2s !important;
}

#wrapper {
  margin-top: 6rem;
  transition: 0.5s;
}

.long-wrapper {
  margin-top: 10rem !important;
  transition: 0.5s;
}

.background-image {
  padding: 0px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: $brand-teal !important;
  transition: $transition-time;
}

a:hover, a:focus {
  color: $brand-teal-dark !important;
  transition: $transition-time;
}

.text-center {
  text-align: center;
}

@import "bootstrap";

@include media-breakpoint-up(lg) {
  .container {
    max-width: 1440px !important;
  }
}

.footer-bottom {
  height: 0.5rem;
}

/*for debugging breakpoints*/
/*@include media-breakpoint-down(lg) {*/
/*body {*/
/*background-color: pink !important;*/
/*}*/
/*}*/
/*@include media-breakpoint-down(md) {*/
/*body {*/
/*background-color: red !important;*/
/*}*/
/*}*/
/*@include media-breakpoint-down(sm) {*/
/*body {*/
/*background-color: lawngreen !important;*/
/*}*/
/*}*/

/*#content {*/
/*background-color: lightpink;*/
/*}*/

/*#wrapper {*/
/*background-color: indigo;*/
/*}*/

/*.container {*/
/*background-color: lavenderblush;*/
/*}*/

/*.store-hero {*/
/*background-color: lightgreen;*/
/*}*/

/*.product-map-widget {*/
/*background-color: lightgreen;*/
/*}*/

/*.store-map {*/
/*background-color: rebeccapurple;*/
/*}*/
