<div class="flea-wrap">
  <p>
    In order to accept payments through our platform, please connect to or make a Stripe account. This will allow you to be paid directly after a customer makes a purchase. Moreover, it will allow you to manage disputes or chargebacks directly with Stripe. Refunds can be administered either through Stripe or our platform. Managing a refund through Flea makes it possible to record a return authorization, the return status, and inventory status.
  </p>

  <div class="text-center">
    <a href="<%= @stripe_connect_url %>" class="stripe-connect"><span>Connect with Stripe</span></a>
  </div>
</div>
