<div class="flea-card__caption">
  <h3 class="caption__overlay__title">
    <%= product.name %>
  </h3>
  <p class="caption__overlay__content">
    $<%= product.price.to_money.as_us_dollar.to_s %>
  </p>
</div>
