<div class="brand-container">
  <div class="brand-flea">
    FLEA
  </div>
  <div class="brand-locals">
    LOCALS
  </div>
  <div class="brand-only">
    ONLY
  </div>
  <div class="brand-square">
  </div>
</div>
