<nav id="top-nav-bar" class="navbar navbar-light">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= render :partial => 'spree/shared/brand' %>
  <% end %>
  <!-- navbar-search -->
  <%= render :partial => 'spree/shared/search' %>
  <ul class="nav navbar-nav pull-xs-right user-links">
    <li class="nav-item active">
      <a class="nav-link" href="#">Login<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Cart</a>
    </li>
  </ul>
</nav>
