<style media="screen">
  #store-product-img {
    background-image: url(<%= image_url "wax.jpg"%>);
  }
</style>

<div id="store-hero-img" class="col-lg-8 store-hero">
  <%= render :partial => 'spree/partials/index_store_carousel' %>
</div>

<div class="col-lg-4 product-map-widget">
  <%= render :partial => 'spree/partials/index_product_carousel' %>
  <div id="store-map" class="product-map-widget--child store-map">
  </div>
</div>

