<style media="screen">
  #store-hero-img {
    background-image: url(<%= image_url "clothes.jpg"%>);
  }
  #store-product-img {
    background-image: url(<%= image_url "clothes.jpg"%>);
  }
</style>

<div id="store-hero-img" class="col-lg-8 store-hero background-image store-hero-img">
</div>

<div class="col-lg-4 product-map-widget">
  <div id="store-product-img" class="product-map-widget--child background-image store-product-img" >

  </div>
  <div id="local-map" class="product-map-widget--child local-map">

  </div>
</div>
