<style media="screen">
  #store-product-img {
    background-image: url(<%= image_url "wax.jpg"%>);
  }
</style>

<script type="text/javascript" charset="utf-8">
  var markers = <%= raw @markers.to_json %>
</script>

<div id="store-hero-img" class="col-lg-8 store-hero thin-border-right">
  <div class="thin-border-bottom">
    <div class="thick-border">

      <%= render :partial => 'spree/partials/index_store_carousel' %>
    </div>
  </div>
</div>

<div class="col-lg-4 product-map-widget">
  <%= render :partial => 'spree/partials/index_product_carousel' %>
  <div id="store-map" class="product-map-widget--child store-map">
  </div>
</div>

